{% extends 'new/base.html' %}
{% load static %}

{% block content %}
    <!-- Categories Section Begin -->
    <section class="categories categories-grid spad">
        <div class="categories__post">
            <div class="container">
                <div class="categories__grid__post">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="breadcrumb__text">
                                {% if category %}
                                    <h2>Categories: <span>{{ category.name }}</span></h2>
                                {% endif %}
                                <div class="breadcrumb__option">
                                    <a href="#">Home</a>
                                    <span>Recipes</span>
                                </div>
                            </div>
                            <div class="row">
                                {% for blog in blogs %}
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="categories__post__item">
                                            <div class="categories__post__item__pic small__item set-bg"
                                                data-setbg="{{ blog.imageURL }}">
                                                <div class="post__meta">
                                                    <h4>{{ blog.update_time.day }}</h4>
                                                    <span>{{ blog.update_time.month }}</span>
                                                </div>
                                            </div>
                                            <div class="categories__post__item__text">
                                                <span class="post__label">{{ blog.category }}</span>
                                                <h3><a href="{% url 'blog_details' blog.id %}">{{ blog.title }}</a></h3>
                                                <ul class="post__widget">
                                                    <li>by <span>{{ blog.author }}</span></li>
                                                    <li>{{ blog.comment_count }} {% trans Comment %}</li>
                                                </ul>
                                                <p>{{ blog.description|truncatewords:40 }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="col-lg-12 text-center">
                                    <div class="pagination">
                                        <span class="step-links">
                                            {% if blogs.has_previous %}
                                                <a href="?page={{ blogs.previous_page_number }}">previous</a>
                                            {% endif %}
                                    
                                            <span class="current">
                                                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
                                            </span>
                                    
                                            {% if blogs.has_next %}
                                                <a href="?page={{ blogs.next_page_number }}">next</a>
                                                <a href="?page={{ blogs.paginator.num_pages }}">last &raquo;</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="sidebar__item">
                                <div class="sidebar__about__item">
                                    <div class="sidebar__item__title">
                                        <h6>{% trans About me %}</h6>
                                    </div>
                                    <img src="img/sidebar/sidebar-about.jpg" alt="">
                                    <h6>{% trans Hi every one! I,m  %}<span>{% trans Lena Mollein. %}</span></h6>
                                    <p>{% trans Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. %}</p>
                                    <a href="#" class="primary-btn">Read more</a>
                                </div>
                                <div class="sidebar__follow__item">
                                    <div class="sidebar__item__title">
                                        <h6>Follow me</h6>
                                    </div>
                                    <div class="sidebar__item__follow__links">
                                        <a href="{{ contact.facebook }}"><i class="fa fa-facebook"></i></a>
                                        <a href="{{ contact.telegram }}"><i class="fa fa-telegram"></i></a>
                                        <a href="{{ contact.youtube }}"><i class="fa fa-youtube-play"></i></a>
                                        <a href="{{ contact.instagram }}"><i class="fa fa-instagram"></i></a>
                                        <a href="{{ contact.email }}"><i class="fa fa-envelope-o"></i></a>
                                    </div>
                                </div>  
                                <div class="sidebar__feature__item">
                                    <div class="sidebar__item__title">
                                        <h6>{% trans Feature Posts %}</h6>
                                    </div>
                                    <div class="sidebar__feature__item__large set-bg"
                                        data-setbg="img/sidebar/feature-post.jpg">
                                        <div class="sidebar__feature__item__large--text">
                                            <span>Dinner</span>
                                            <h5><a href="#">{% trans This Japanese Way of Making Iced Coffee Is a Game... %}</a>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="sidebar__feature__item__list">
                                        <div class="sidebar__feature__item__list__single">
                                            <div class="post__meta">
                                                <h4>{{ blog.update_time.day }}</h4>
                                                <span>{{ blog.update_time.month }}</span>
                                            </div>
                                            <div class="post__text">
                                                <span>Dinner</span>
                                                <h5><a href="#">Grilled Potato and Green Bean Salad</a></h5>
                                            </div>
                                        </div>
                                        <div class="sidebar__feature__item__list__single">
                                            <div class="post__meta">
                                                <h4>{{ blog.update_time.day }}</h4>
                                                <span>{{ blog.update_time.month }}</span>
                                            </div>
                                            <div class="post__text">
                                                <span>Smoothie</span>
                                                <h5><a href="#">The $8 French Rosé I Buy in Bulk Every Summer</a></h5>
                                            </div>
                                        </div>
                                        <div class="sidebar__feature__item__list__single">
                                            <div class="post__meta">
                                                <h4>{{ blog.update_time.day }}</h4>
                                                <span>{{ blog.update_time.month }}</span>
                                            </div>
                                            <div class="post__text">
                                                <span>Desert</span>
                                                <h5><a href="#">Ina Garten's Skillet-Roasted Lemon Chicken</a></h5>
                                            </div>
                                        </div>
                                        <div class="sidebar__feature__item__list__single">
                                            <div class="post__meta">
                                                <h4>{{ blog.update_time.day }}</h4>
                                                <span>{{ blog.update_time.month }}</span>
                                            </div>
                                            <div class="post__text">
                                                <span>Vegan</span>
                                                <h5><a href="#">The Best Weeknight Baked Potatoes, 3 Creative Ways</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar__item__banner">
                                    <img src="img/sidebar/banner.jpg" alt="">
                                </div>
                                <div class="sidebar__item__categories">
                                    <div class="sidebar__item__title">
                                        <h6>Categories</h6>
                                    </div>
                                    <ul>
                                        <li><a href="#">Recipes <span>128</span></a></li>
                                        <li><a href="#">Dinner <span>32</span></a></li>
                                        <li><a href="#">Dessert <span>86</span></a></li>
                                        <li class="p-left"><a href="#">Smothie <span>25</span></a></li>
                                        <li class="p-left"><a href="#">Drinks <span>36</span></a></li>
                                        <li class="p-left"><a href="#">Cakes <span>15</span></a></li>
                                        <li><a href="#">Vegan <span>63</span></a></li>
                                        <li><a href="#">Weightloss <span>27</span></a></li>
                                    </ul>
                                </div>
                                <div class="sidebar__subscribe__item">
                                    <div class="sidebar__item__title">
                                        <h6>Subscribe</h6>
                                    </div>
                                    <p>Subscribe to our newsletter and get our newest updates right on your inbox.</p>
                                    <form action="#">
                                        <input type="text" class="email-input" placeholder="Your email">
                                        <label for="s-agree-check">
                                            I agree to the terms & conditions
                                            <input type="checkbox" id="s-agree-check">
                                            <span class="checkmark"></span>
                                        </label>
                                        <button type="submit" class="site-btn">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
{% endblock %}